body {
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
}

#click-to-begin {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

#score {
  font-size: 2em;
  font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
}

#instructions {
  font-size: 1em;
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
}
