/*********************************************

This is the style file for this project.

**********************************************/
body {

}

h1 {
  text-align: center;
  color: black;
  font-family: sans-serif;

}

#click-to-begin {
  text-align: center;
  color: black;
}

#videoTitle {
  text-align: center;
  color: black;
}

#tv {
  text-align: center;
}
