/*********************************************

This is the style file for this project.

**********************************************/
@import url('https://fonts.googleapis.com/css?family=Oswald|Titillium+Web:700');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

#description {
  font-size: 4em;
  font-family: sans-serif;
  text-align: center;
  margin-top: 3em;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}
