/*********************************************

This is the style file for this project.

**********************************************/

#Title {
  font-size: 6em;
  font-weight: bold;
  font-family:sans-serif;

}

#Kick {
  font-size: 4em;
  font-family:sans-serif;
  background-color: #84754E;
}
#Snare {
  font-size: 4em;
  font-family:sans-serif;
  background-color: #AF9800;
}
#Hihat {
  font-size: 4em;
  font-family:sans-serif;
  background-color: #F2CD00;
}



#controls {
  padding: 2em;
  text-align: center;
}
