/*********************************************

This is the style file for this project.

**********************************************/
body {
  margin: 0;
  padding:0;
}

#top-nav {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  background-color: white;
  color: black;

}


.header-middle {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  font-size: 15px;
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
}

#instructions {
  background-color: #ffffff;
  text-align: center;
}
