/*********************************************

This is the style file for this project.

**********************************************/
body {
  margin: 0;
  padding:0;
}

#top-nav {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  background-color: black;
  color: white;


}

#nav-border {
  border-bottom: 1px solid darkgrey;
  width: 100%;
}

.header-middle {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  font-size: 25px;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: bold;
}
