/*********************************************

This is the style file for this project.

**********************************************/
#Bulbasaur {
color: green;
}

#Kick {
  font-size: 4em;
  font-family:sans-serif;
  background-color: #84754E;
}
#Snare {
  font-size: 4em;
  font-family:sans-serif;
  background-color: #AF9800;
}
#Hihat {
  font-size: 4em;
  font-family:sans-serif;
  background-color: #F2CD00;
}

#Pokelist {
  font-size: 20px;
  font-family: Helvetica, sans-serif;
  text-align: center;
}


#controls {
  padding: 2em;
  text-align: center;
}
